.formulatron {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navBeast {
    /* background-color: #2d97ed; */
    background-image: linear-gradient(to right, whitesmoke, #326872);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
.clients{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap
}

.notes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap
}
.card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        padding: 2px;
        margin: 4px;
        border: 2px solid rgb(64, 66, 62);
        padding: 10px;
}
.clientCard{
    border: 2px solid rgb(64, 66, 62);
    padding: 10px;
    margin: 5px
}
.ClientForm{
    justify-content: center;
    border-radius: 25px;
    border: 2px solid rgb(64, 66, 62);
    padding: 20px;
    width: 30%
}

.ButtonBox{
    display: flex;
    justify-content: center;
    margin: 2em
}

.noteButton{
    display: flex;
    justify-content: center
}

.environmentForm{
    justify-content: center;
    border-radius: 25px;
    border: 1px solid rgb(64, 66, 62);
    padding: 20px;
    width: 100%
}

.therapyForm{
    justify-content: center;
    border-radius: 25px;
    border: 1px solid rgb(64, 66, 62);
    padding: 20px;
    margin: 10px;
    width: 100%
}

.NoteForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 2px solid rgb(64, 66, 62);
    padding: 20px;
    width: 40%
}

.labelCenter{
    display: flex;
    justify-content: center
}

.search-bar{
    display: flex;
    justify-content: center
}

.clientButton{
    display: flex;
    justify-content: center;
    padding: 10px
}


.clientListLabel{
    display: flex;
    justify-content: center
}

.navbar{
    background: rgba(255, 255, 255, 0.7);
}
.background-login{
    background-image: linear-gradient(to right, rgb(248, 244, 244), #5caebd);
    padding: 75px;
    height: 100%;
    border: 2px solid white;
    border-radius: 1rem;
    margin: 2rem 0rem;
    text-align: center;
}

.btn{
    max-width: 200px;
}
html, body {
    height: 100%;
  }

  .login-form{
    display: inline-block;
    padding: 2rem;
    border: 2px solid white;
    border-radius: .2rem;
    background-color: white;
    justify-content: left;
  }
  .login-input{
    width: 100%;
  }
/* .submitBtn{
    display: flex;
    justify-content: center;
    align-content: center
} */
